{
  "parser": "babel-eslint", // uses babel-eslint transforms
  "settings": {
    "react": {
      "version": "detect" // detect react version
    }
  },
  "env": {
    "node": true // defines things like process.env when generating through node
  },
  "plugins": [
    "jsx-a11y"
  ],
  "extends": [
    "eslint:recommended", // use recommended configs
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ]
}